[2017-10-31 09:36] gyorfiavarlehel opened #3 "Slide from right to left"
Hi,

This is an awesome library! Thank you!

Is it possible to update the slider to remain active after you switched it on?
I would like to use it to start and stop an app.

It would be awesome if you can update it to work in the following way:
1. Slide from left to right to activate the slider.
2. After the Done animation the slider should appear again but in this case with an <- arrow.
3. Slide

[2017-11-02 17:46] JaviChaques opened #4 "Set text dynamically"
## What kind of issue is this?

- Feature Request. Start by telling what's problem you’re trying to solve. A Pull request is welcome as well.

## Details

Have the possibility to change the text dynamically.

[2017-11-27 08:15] camelsmith opened #5 "please support android minSdkVersion 14 or less."
please support android minSdkVersion 14 or less.Beacuse still have lots of user use phone follow in Android 5.0，if minSdkVersion is higher,that mean lots of people can not use this library.
    I suggest auther provide two version for this library(slidetoact),one is use in minSdkVersion 14 or less,and another is use in minSdkVersion 21.
   thanks.

[2018-01-13 00:24] cortinico commented on #4
Done ;) Is on master. Will be available in the next release of the library. If you need it before, you need to checkout the library and build an artifact.

[2018-01-13 00:24] #4 closed

[2018-01-13 18:10] cortinico commented on #5
It's on master now :) Will be released in the upcoming release of the library.
If you need it now, you can checkout master and build an artifact.

[2018-01-13 18:10] #5 closed

[2018-01-13 18:13] cortinico commented on #3
Hey @gyorfiavarlehel

Thanks for your suggestion.
Unfortunately, I don't think I'm going to do this soon since it will increase the complexity of the mathematics for the animation. Furthermore, is just to address an edge use case.

On the other hand, I'd love to suggest you to try using two sliders and rotating them.
You can simply rotate the second with: `android:rotation="180"`
Then you just nee

[2018-01-13 18:13] #3 closed

[2018-01-20 08:55] jesuvijay opened #9 "Hi how to add text style bold in slide to act"
Add text style bold in slide to act

[2018-02-05 10:16] jesuvijay opened #10 "Hi How to change outer color programmatically in slide to Act view"
## What kind of issue is this?

 - [ ] UI Bug. Please provide a Screenshot/Video/GIF of what's the problem. If you need help to record a video you can follow [this guide](https://developer.android.com/studio/command-line/adb.html#screenrecord)

 - [ ] Functional Bug. Please describe the scenario of the bug. Furthermore, please spend the time to write a failing test.

 - [x] Feature Request. Start

[2018-02-05 12:28] jesuvijay commented on #9
okay i will try

[2018-02-05 13:51] MichaelStevan commented on #10
I did a function myself, I will be submitting this pull request shortly !

[2018-02-05 14:36] cortinico commented on #10
Sweet :) Looking forward

[2018-02-28 23:08] cortinico opened #11 "Move to Circle CI 2"
## What kind of issue is this?

I need to update the `circle.yml` file to run on Circle CI 2.
https://circleci.com/docs/2.0/migrating-from-1-2/

[2018-04-04 09:06] apurvpatel04 opened #13 "attribute 'app:slider_icon' not found."
Hi Nicola Corti,

Thank you for this library.

 - Functional Bug. - while adding attribute app:slider_icon gradle build failed with Error:error: attribute 'app:slider_icon' not found.

## Details
* Library Version- 0.2.0
* Gradle Version -3.0.1
* Android Studio Version -3.0.1

Thanks

[2018-04-04 14:12] cortinico commented on #13
Thanks for reporting @apurvpatel04

The `app:slider_icon` attribute is fairly new, will be available in the next release (0.3.0) that should be ready around next week.

If you really need to use that attribute now, you need to download this repo and build it locally, the code is on master.

[2018-04-16 07:58] cortinico commented on #13
Fixed in the latest version (`v0.3.0`)

[2018-04-16 07:58] #13 closed

[2018-04-16 07:59] cortinico commented on #10
Fixed in the latest version (`v0.3.0`)

[2018-04-16 07:59] #10 closed

[2018-04-16 07:59] cortinico commented on #9
Fixed in the latest version (`v0.3.0`)

[2018-04-16 07:59] #9 closed

[2018-04-16 13:26] jyotisolanki opened #14 "How to set custom Icon in place of Tick Mark"
Hello how would I change tick circle into my custom icon

[2018-04-16 13:36] cortinico commented on #14
Can you please provide a bit more context?
What do you mean with `tick circle` ?

[2018-04-17 04:07] jyotisolanki commented on #14
Hello
As in your library after sliding it shows an image of Tick mark icon so in place of this i want to put my image . how can i do this?

[2018-04-23 07:17] squeeish opened #15 "ic_check not showing on Samsung 7.1.1 (API 25)"
## What kind of issue is this?

UI bug on Android 7.1.1 Samsung Tablet (of course it's a Samsung)

![ezgif com-optimize](https://user-images.githubusercontent.com/3531468/39111840-1ba2e554-4709-11e8-97b7-2419e49e1b7d.gif)

## Details

I cannot replicate this issue on emulators or actual devices. It seems to be an issue with `trimPathStart`/`trimPathEnd`. Notice how the check mark appears briefly a

[2018-05-14 21:57] Andresteve07 opened #16 "Unable to change colors at runtime."
## What kind of issue is this?

 - [ ] UI Bug. Please provide a Screenshot/Video/GIF of what's the problem. If you need help to record a video you can follow [this guide](https://developer.android.com/studio/command-line/adb.html#screenrecord)

 - [x] Functional Bug. Please describe the scenario of the bug. Furthermore, please spend the time to write a failing test.

 - [ ] Feature Request. Start

[2018-05-15 08:26] cortinico commented on #16
Hey @Andresteve07

Thanks for reporting this (and using the library).
This is caused by those two lines:

[code]

You can't pass Color resources to those methods, but you must pass a Color Int.
Replace with those two lines and it should work as expected.

[code]

[2018-05-15 08:26] #16 closed

[2018-05-27 18:04] rsansores commented on #14
Hi,

@cortinico First of all, great work, your widget is really well made.

I'm trying to achieve the exact same thing as @jyotisolanki. Right now what I did is checkout the project and make public the animated_check_icon. But I think it could be a great addition to your component instead of forking it.

Here is what I'm trying to achieve.

1. The user slides the component.
2. If the slide was com

[2018-06-11 15:29] yoninezer opened #17 "The slidetoact appears on top of other views which are higher in the hierarchy"
If Im adding a match parent width & height container to to bottom of the activity - the slidetoact view still appears, even though it is lower in the hierarchy. any thoughts?

[2018-06-11 16:03] cortinico commented on #17
Hey @yoninezer
Can you be more specific? Also code/screenshots would be better to understand.

[2018-06-11 17:23] yoninezer commented on #17
Hey @cortinico.  Sorry for not being clear enough. I'll try again :)

Let's say I have an activity layout which are the following:
`<RelativeLayout xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:app="http://schemas.android.com/apk/res-auto"
    android:layout_width="match_parent"
    android:layout_height="match_parent">

    <com.ncorti.slidetoact.SlideToActView
        andr

[2018-06-11 19:37] cortinico commented on #17
Hey @yoninezer
Thanks for the code. So basically this is caused by the `6dp` elevation that you added to the `SlideToActView`. This is causing the z-ordering of your child views to be different than the order of your views in the layout file.

That's the intended behavior so I'll close here since is not a bug.
To fix your problem, either remove the elevation from the `SlideToActView` or add `6dp`

[2018-06-11 19:37] #17 closed

[2018-06-11 19:47] yoninezer commented on #17
Worked like a charm 👍
Much thanks !

[2018-06-20 15:57] yer9ali opened #18 "NullPointerException"
[code]

[2018-06-20 16:11] cortinico commented on #18
Hey @yer9ali
Thanks for the report:

Can you please add more details to this issue to help me debug it:

Library Version.
Android Version.
Emulator/Device specs.
Logs/Crash reports/Stacktraces.
Example Code/Link to repositories (if is open-source)

[2018-06-20 16:28] cortinico commented on #14
Hey @rsansores

Would you be fine if I just expose the `animated_check_icon` attribute so you can replace it with your drawable/animated vector drawable?

That's definitely cool and would love to get a full request if you plan to do something. I might implement it in the following months but I still have to think if this will be a separated library or a special behavior of this library.

[2018-06-20 16:37] rsansores commented on #14
Yes of course. I will make a pull request so you can decide whether to integrate it to the core component.

Regards!

[2018-06-20 17:02] cortinico commented on #14
So do you still need me to expose `animated_check_icon`?

[2018-06-21 05:01] yer9ali commented on #18
Library Version. Library Version. implementation 'com.ncorti:slidetoact:0.3.0'
Android Version. v 7.1.1
Emulator/Device specs. emulator Pixel 5,0'
Logs/Crash reports/Stacktraces:
E/AndroidRuntime: FATAL EXCEPTION: main
                  Process: kz.orange.orangetaxi, PID: 2923
                  java.lang.NullPointerException: Attempt to invoke virtual method 'java.lang.Class java.lang.Object.getCl

[2018-07-14 13:44] cortinico commented on #11
https://circleci.com/blog/sunsetting-1-0/

[2018-07-15 12:53] cortinico commented on #18
Hey @yer9ali
I tested on a Pixel 5' on Android 7.1.1 as from your report.

All works fine and I found no crashes (so I'm closing here).

I also googled a bit and it looks like your crash is related to `path` naming in the animated vector drawable: https://issuetracker.google.com/issues/37138817

Maybe you changed the `android:name` of the path in the `animated_ic_check.xml` file or in the `ic_chec

[2018-07-15 12:53] #18 closed

[2018-07-20 09:40] benevolent13 opened #19 "Error Inflating class com.ncorti.slidetoact.SlideToActView"
## What kind of issue is this?

 - [ ] UI Bug. Please provide a Screenshot/Video/GIF of what's the problem. If you need help to record a video you can follow [this guide](https://developer.android.com/studio/command-line/adb.html#screenrecord)

 - [ ] Functional Bug. Please describe the scenario of the bug. Furthermore, please spend the time to write a failing test.

 - [ ] Feature Request. Start

[2018-07-20 15:04] cortinico commented on #19
@benevolent13 Can you please fill out the Issue template?
I can't really do anything if you fill in only the title.

[2018-08-01 07:08] blabz-rahulmandalkar opened #20 "How to add drawable to button"
## What kind of issue is this?

 - [ ] UI Bug. Please provide a Screenshot/Video/GIF of what's the problem. If you need help to record a video you can follow [this guide](https://developer.android.com/studio/command-line/adb.html#screenrecord)

 - [ ] Functional Bug. Please describe the scenario of the bug. Furthermore, please spend the time to write a failing test.

 - [ ] Feature Request. Start

[2018-08-01 09:41] #19 closed

[2018-08-01 11:31] cortinico commented on #20
Hey @blabz-rahulmandalkar
Do you have some mocks or some screenshots of what you want to implement?

The real problem with what you're asking is that the background get resized during the animation. I'm not so sure of what you would love to do with a drawable: crop it? resize it?

Furthermore the `inner_color` would still be needed since it has several effects. From the README.md file:

[2018-08-03 04:49] blabz-rahulmandalkar commented on #20
I want to apply gradient color to inner circular button from drawable resource.

[2018-08-31 14:14] #11 closed

[2018-10-07 05:24] subrud opened #25 "setOnClickListener not working"
[code]

[2018-10-08 23:54] cortinico commented on #25
Hey @subrud

Yeah you're right and that's actually the intended behavior.
I have one question: Are you trying to intercept **only failed swipes**.

Because I'm afraid the `View.OnClickListener` will be triggered for every click (also for the one the user does when starting to swipe).
Can you please clarify your use case?

[2018-10-09 02:19] subrud commented on #25
Actually, when a couple of users were given the app for testing, their initial response was tapping instead of swiping. So I just want to display a toast message of swiping when a user taps on it.

[2018-10-11 02:59] suzanneong3 opened #27 "How to create EventHandler Method in Java and not in Kotlin"
[code]

this code is suppose to help bring user to next activity but the EventHandler Syntax is not correct .. it does not bring me to the next activity . Please help me ! thank u

[2018-10-11 09:08] cortinico commented on #27
Hey @suzanneong3

You can add a listener using the `SlideToActView.OnSlideCompleteListener` and not the `View.OnClickListener`

[code]

[2018-10-11 09:08] #27 closed

[2018-10-12 12:08] dhruv0singh opened #28 "Suggestion | Same color for text and inner circle"
## What kind of issue is this? - Suggestion not an issue

Please provide the function to change the text color and inner circle color based on the value provided by the user. Having the same color for the inner circle and text color doesn't fulfill all requirements.

[2018-10-19 00:39] cortinico commented on #25
Hey @subrud I'm fixing this here #29 plus I also add another listener to better understand if the user failed to interact with the widget

[2018-10-19 00:47] cortinico commented on #28
Yeah that sounds great. I'll anyway default the text color to the `secondaryColor`

[2018-10-19 12:36] #25 closed

[2018-10-29 23:02] cortinico commented on #28
Done, will be available in the upcoming release of the library

[2018-10-29 23:02] #28 closed

[2018-11-10 11:40] cortinico commented on #28
It's available on `0.5.0`, just released!

[2018-11-12 09:38] sumaro commented on #15
ic_check.xml in drawable-v25
`add android:trimPathStart="0.01" `

ic_check is visiable but  without animation

[2018-11-12 09:43] squeeish commented on #20
Wrap `SlideToActView` in a `FrameLayout` and set your background drawable to your gradient colour. Add a margin of 1dp to `SlideToActView`, with `outer_color` as #FFFFFF

[2018-11-12 22:58] cortinico commented on #20
Yeah that's a bit hacky but it should more or less work. I could eventually implement this feature if someone else is interested in this.

[2018-11-12 22:58] cortinico commented on #15
@sumaro Can you provide more context? Are you having the same problem?

[2018-11-21 07:55] sumaro commented on #15
@cortinico I copy library "slidetoact" to my project , and fix "ic_check.xml"

`<vector xmlns:android="http://schemas.android.com/apk/res/android"
    android:width="24dp"
    android:height="24dp"
    android:viewportHeight="48.0"
    android:viewportWidth="48.0">
    <path
        android:name="check"
        android:fillColor="#00000000"
        android:pathData="m7.21,25.35l10.3,10.37l23.29,-2

[2018-11-23 10:22] ls29322 opened #41 "How to make it vertical?"
First of all: amazing job right here!

I was wondering if there is a way to make the slider vertical (from down to up for example?)

Thanks for the information! :D

[2018-11-23 13:59] ls29322 opened #42 "Change Icon Color and drawable icons request"
I was thinking that could be useful to let users choose icon style.

We only need one parameter to override the line 87 on SlideToActView:
/** Outer color used by the slider (primary) */
    var outerColor: Int = 0
        set(value) {
            field = value
            mOuterPaint.color = value
            mDrawableArrow.setTint(value)  ->> This line should to be removed or at least have some

[2018-11-24 21:58] cortinico commented on #41
Hey @ls29322

Thanks :)
So would something like this be ok for you?

![screenshot_1543096434](https://user-images.githubusercontent.com/3001957/48973285-51731280-f03c-11e8-8d4c-515be126fbe8.png)

I have a branch where I'm doing it. I'm still not sure I'm going to merge this as all the library was designed to have an horizontal slider.

Anyway the commit is here 35e76f11421be69c4558117a42d9b6b2cc3c

[2018-11-24 22:12] cortinico commented on #42
Hey @ls29322

So changing the color is definitely doable. Maybe you want to make a PR? :)

For the drawable. There is already another issue relate to this: #20
I'm a bit hesitant on this as it would open to a lot of problems (e.g. tinting will not make sense anymore, etc.).

Maybe I can extend the library to accept custom AVD or `VectorDrawable`. What do you think?

[2018-11-26 08:09] ls29322 commented on #41
Oh! That's nice, I achieve it with just adding the "rotation" property, but of course the layout go a little bit crazy ^^

[2018-11-26 11:42] ls29322 commented on #42
And what about using the default "thumb" of seekbar?
Thumb allows drawable customization, isn't it?

[2018-11-27 08:37] titiarimba opened #44 "can i change text to capital letters?"
i want to make text to all capital letter. is it possible?

[2018-11-27 22:51] cortinico commented on #41
Hey @ls29322
So looks like it works fine with `ConstraintLayout` as well.

I pushed an example commit for you here: f8d8a6d525739cb62bb9cc360e14147c02a7ba7e
The result is like this:

![screenshot_1543359078](https://user-images.githubusercontent.com/3001957/49116927-5aafe980-f29f-11e8-8820-a90783c53d79.png)

[2018-11-27 22:51] #41 closed

[2018-11-27 22:53] cortinico commented on #44
You can just provide an all caps text. Or are you looking for a `textAllCaps` attribute?

[2018-11-28 02:31] titiarimba commented on #44
yes, i am looking for textAllCaps.

[2018-11-28 08:47] titiarimba opened #45 "slider_icon don't display at slider_height = 32dp"
when i set slider_height to 32dp i can't display slider_icon. how if i want to display the icon too?

[2018-11-28 08:48] #44 closed

[2018-11-28 08:51] cortinico commented on #45
@titiarimba Do you have a screenshot?
Ideally you shouldn't as the icon will be too small and impossibile to see

[2018-11-28 08:58] titiarimba commented on #45
![image](https://user-images.githubusercontent.com/22439428/49140148-1ddb0580-f326-11e8-9e71-aa40cc34f2c9.png)

maybe it would be better if the icon is visible

[2018-11-29 11:42] IreneTrullen commented on #9
Can I change the font family on slide to act text?

[2018-11-29 13:19] cortinico commented on #20
@IreneTrullen I could allow to change the inside icon and maybe the gradient as well. Having a generic drawable for the _bobble_ would be really hard to implement from the animation point of view. Do you have something in mind?

[2018-11-29 13:49] IreneTrullen commented on #20
So, maybe can you allow to change the width and height of the icon inside the booble?

[2018-11-29 14:17] cortinico commented on #9
@IreneTrullen Can you open another issue. This one is closed.

[2018-11-29 14:22] IreneTrullen opened #46 "Change the font family on slide text"
Can I change the font family on slide text?

[2018-12-19 12:34] Shahriyar13 opened #48 "Target with the name "check" cannot be found in the VectorDrawable to be animated"
force close when complete animate in android 8.1.0 (27)

 java.lang.IllegalStateException: Target with the name "check" cannot be found in the VectorDrawable to be animated.
        at android.graphics.drawable.AnimatedVectorDrawable$AnimatedVectorDrawableState.prepareLocalAnimator(AnimatedVectorDrawable.java:839)
        at android.graphics.drawable.AnimatedVectorDrawable$AnimatedVectorDrawableSt

[2018-12-19 17:58] BrayanMC opened #49 "onSlideComplete doesn't call"
I'm using kotlin and the onSlideComplete is not called. Will you have an example?

Thank you.

[2018-12-22 00:05] BrayanMC commented on #49
I could achieve it. Thank you.

**slide.onSlideCompleteListener = object : SlideToActView.OnSlideCompleteListener {
            override fun onSlideComplete(view: SlideToActView) {
    ..........
     }
}**

[2018-12-25 21:08] cortinico commented on #49
Thanks :)

[2018-12-25 21:08] #49 closed

[2018-12-29 04:06] tsengvn opened #50 "SlideToActView class should open"
Just think this class should open so that people can easily custom it on their end. :)

Anyway, this is a great component, thank you!

[2019-01-31 14:53] cmahopper opened #51 "Add textAllCaps attribute"
Is it possible to add textAllCaps="true" to the text?

[2019-02-05 10:35] cmahopper commented on #46
@cortinico Any update on this?

[2019-02-06 18:15] cortinico commented on #51
Hey @cmahopper
It makes sense and I'll work on making the text inside the `SlideToActView` more flexible in the upcoming weeks. I'll keep you posted

[2019-02-06 18:16] cortinico commented on #46
This is related to #51
I'm going to make sure the text inside the `SlideToActView` is a TextView and easier to customize.

[2019-02-07 16:17] enylrad commented on #19
Hi, I have had the same problem.

I downloaded the project to see if I found the error. In my case the error was produced because in the librery there is an asset called "ic_check" and in my project too.

I have renamed the asset by another name solving the problem. I would add a prefix to the assets to avoid this kind of problems.

I hope it helps, greetings.

[2019-02-07 19:36] kostasoft opened #52 "How to show the completed state?"
Thanks for the library! But how to make slideToActView run immediately in a completed state?

[2019-02-07 20:52] cortinico commented on #52
Hey @kostasoft
Thanks for the feedback,

Do you mean with or without animation?

[2019-02-08 07:10] kostasoft commented on #52
No animation. Run immediately in a collapsed form (tick in a circle)

[2019-02-08 19:32] kostasoft opened #53 "API 17: Resources$NotFoundException"
android.content.res.Resources$NotFoundException: File res/drawable-xxhdpi-v4/ic_call_white_24dp.png from xml type xml resource ID #0x7f0800ca

Refers to a line of code:
`val parser = res.getXml(resId)`
In the method **parseVectorDrawableCompat**

Physically, the picture res/drawable/ic_call_white_24dp.xml is present.

Enable
`vectorDrawables.useSupportLibrary = true`
it is not possible, the applic

[2019-02-10 11:23] kostasoft commented on #53
I had to turn on the setting:
vectorDrawables.useSupportLibrary = three
And fix all the errors in my code

[2019-02-10 11:23] #53 closed

[2019-02-10 13:46] cortinico commented on #53
Thanks for the feedback @kostasoft

[2019-02-14 01:12] cortinico commented on #48
@Shahriyar13 Can you provide some steps on how to reproduce?

[2019-02-14 08:28] mrb0098 opened #55 "Render Problem in android studio 3.3.1"
i add this lib to my project and get render problem :

`java.lang.ClassCastException: android.graphics.drawable.BitmapDrawable cannot be cast to android.graphics.drawable.VectorDrawable   at android.graphics.drawable.AnimatedVectorDrawable.inflate(AnimatedVectorDrawable.java:546)   at android.graphics.drawable.DrawableInflater.inflateFromXmlForDensity(DrawableInflater.java:142)   at android.graphi

[2019-02-14 18:16] squeeish commented on #19
@benevolent13 did you use SlideToActView in a fragment?

[2019-02-16 10:44] cortinico commented on #52
Hey @kostasoft

So as of today, there is no easy way to achieve what you want.
I'll keep it open so I can provide better support for changing the slider stats programmatically in the near future.

[2019-02-16 10:46] cortinico commented on #55
Hey @mrb0098 Can you please provide more context on this?
Have you customized the `SlideToActView` somehow? If yes, how?

Can you attach here the XML file that you're trying to preview?

[2019-02-16 10:51] cortinico commented on #19
@enylrad Thanks for the hint. I'll be prefixing library resources with `slidetoact_` in the next release so there won't be clashes in the future versions of the library.

[2019-02-16 10:53] cortinico opened #57 "Exported resources IDs should be prefixed with a `slidetoact_` prefix"
Created after #19

## What kind of issue is this?

We should rename the resources that are exported from the library (e.g. `ic_check` to have a prefix). This will make sure there are no resource clashes with other libraries/apps that are using slidetoact.

[2019-02-16 10:59] mrb0098 commented on #55
hi
its very interesting
i can use this lib in a new project without any problem
but in my project i have this problem
and i didnt any edit on this lib

[2019-02-16 11:12] cortinico commented on #55
Would you be able to send me a small project where you're able to reproduce the issue?

[2019-02-16 11:19] mrb0098 commented on #55
i try to create a project with that issue .

may be the issue because of interference between the libs i implement to my project 🤔🤔

[2019-02-25 09:03] druby-luke opened #61 "feature request: Attribute to change arrow icon DP"
## What kind of issue is this?

 - [ ] UI Bug. Please provide a Screenshot/Video/GIF of what's the problem. If you need help to record a video you can follow [this guide](https://developer.android.com/studio/command-line/adb.html#screenrecord)

 - [ ] Functional Bug. Please describe the scenario of the bug. Furthermore, please spend the time to write a failing test.

 - [x] Feature Request. Start

[2019-02-28 06:22] slegaitis commented on #46
Any update on this?

[2019-03-05 12:23] slegaitis commented on #46
Changing font family can be done as such:

private var typeFace = Typeface.NORMAL
        set(value) {
            field = value
            mTextPaint.typeface = Typeface.create(ResourcesCompat.getFont(context, R.font.regular_font), value)
            invalidate()
        }

[2019-03-17 15:07] cortinico commented on #55
Any updates?

[2019-03-17 15:09] cortinico commented on #61
this would be awesome for lower value slider_height like 40dp.

@druby-luke do you have a screenshot for what you would love to achieve?
So far as I understand, you would love to have the arrow even if the slider is small right?

[2019-03-24 13:31] #46 closed

[2019-03-24 13:31] #51 closed

[2019-03-27 18:05] adrienrx commented on #3
Hey @cortinico ,

How do you rotate the text?

[2019-03-28 17:12] cortinico commented on #3
Hey @adrienrx Can you be more specific? (or open a new issue eventually)?

[2019-03-28 17:26] adrienrx commented on #3
Hey @cortinico,
![reversed text](https://i.ibb.co/k8LndMg/Screenshot-2019-03-28-at-17-21-58.png)

I would like to rotate the reject text. I've rotated the slider. But I can't find a way to rotate the text. I tried textAppearance / findViewById (but no id) / findViewByTag (but no tag) / browsing the view group (failed as well).

How do you rotate the text?

Many thanks

[2019-04-02 04:32] tsaulic commented on #61
I would also love this feature.

[2019-04-04 00:01] cortinico commented on #61
Hey @tsaulic can you be a bit more specific?
What exactly are you trying to achieve?

[2019-04-05 01:16] tsaulic commented on #61
Oh, just wanted to be able to specify the size of the icon when I use for example
`app:area_margin="0" `
and my `app:slider_height=""` is anything under 42dp, the icon often is almost invisible, like in the screenshot provided by @druby-luke in an above post.

I got around it by providing `app:slider_height="42dp"` which is the minimum size for it to look good, but it would be ideal if I could, fo

[2019-04-11 16:59] jbaris commented on #14
I need this feature too.

[2019-04-29 13:28] cortinico commented on #61
Hey @tsaulic @druby-luke
So you can tweak the icon margin just by providing an override to the `default_icon_margin` resource in your app (the default is `16dp`).

So just add this in your `dimens.xml`:
[code]
To have something like:
<img width="397" alt="Screenshot 2019-04-29 at 15 26 51" src="https://user-images.githubusercontent.com/3001957/56899233-3b59fa00-6a93-11e9-8b82-3c6031e1544e.png">

A

[2019-04-29 13:28] #61 closed

[2019-04-30 12:31] cortinico commented on #55
@mrb0098 any updates?

[2019-05-02 14:30] #55 closed

[2019-05-08 09:02] bitamirshafiee opened #71 "slider_reversed and slider_icon_color attributes not working"
Details

can't use attributes slider_reversed and slider_icon_color
* Library 0.6.0.
*gradle version : 3.4.0
*Android Studio Version -3.4

[2019-05-10 03:18] cortinico commented on #71
Hey @bitamirshafiee
The attributes `slider_reversed` and `slider_icon_color` don't work as they're included only in the version `0.7.0` of the library. Please update to that version.

[2019-05-10 03:18] #71 closed

[2019-05-13 12:52] Erinel opened #72 "Make the slide as a selector (prevent it from transforming into check)"
- Feature Request. I want to make a slider but that does not complete, that just behaves like a selector, on completion check does not appear, instead slider text changes along with screen behavior, and you can restore previous behaviour sliding the other way.

[2019-05-13 19:05] #57 closed

[2019-05-13 23:07] cortinico commented on #72
Hey @Erinel
Thanks for the suggestion. Just a couple of question.

* What about the icon? Should it be an arrow?
* Which icon should be displayed when the slider is in the _selected_ state?
* Currently the slider has a 80/20 behavior. The slider will not complete if you don't drag it over the 80% of the progress. How about the restore scenario? Should it behave symmetrically?

I'm not really sure

[2019-05-14 07:18] Erinel commented on #72
I think the icon should be the arrow, in the selected state it should remain at the other side of the slider (with the inverted arrow), and about dragging, it should have same 80/20 behaviour symmetrically.
Thanks for your response!

[2019-05-16 23:35] cortinico commented on #72
Hey @Erinel
I've just submitted a draft PR #74
Can I ask you to take a look and give me your opinion?

[2019-06-14 07:31] kenshin171 commented on #14
has this feature been added?

[2019-06-15 11:12] cortinico commented on #14
Not yet. I'm reopening and will start working on this in the near future.
Ideally will go in 0.8.0 (the upcoming release).

[2019-07-07 16:15] cortinico commented on #48
Ideally this should be fixed with #73
Feel free to reopen if is still crashing on `0.7.0`

[2019-07-07 16:15] #48 closed

[2019-07-27 07:18] UmarFarooqOO7 commented on #55
i have same issue.
I'm using Android Studio 3.4.2
Build #AI-183.6156.11.34.5692245, built on June 27, 2019
JRE: 1.8.0_152-release-1343-b01 amd64
JVM: OpenJDK 64-Bit Server VM by JetBrains s.r.o
Windows 10 10.0

[2019-07-30 14:46] cortinico commented on #55
@UmarFarooqOO7 Please open another issue with details on the library version you're using.
If you're also able to provide a sample project where I can reproduce the issue would be extremely valuable.

[2019-08-15 19:23] Bendor opened #78 "Text gravity attribute"
First of all, thanks for your awesome button!
Could you please add text gravity attribute, it will help me a lot! Thanks

[2019-08-16 11:57] cortinico commented on #78
Hi @Bendor
Thanks for reporting.

I don't think I'm going to add this feature to slidetoact as it will complicate even more the code for computing the position of the text. Moreover it feels natural from the UX point of view to have the text centered. I don't think this is a feature that a lot of other users will benefit from.

I can invite you to fork the library and change the code that is compu

[2019-08-16 11:57] #78 closed

[2019-08-16 11:58] cortinico commented on #72
Closing as apparently there was no interest in the feature

[2019-08-16 11:58] #72 closed

[2019-09-03 06:04] abhijeet-nkt opened #80 "Migrate to androidx"
Shouldn't it be migrated to androidx ?
I wanted to use this in my project, but noticed that the library isn't migrated to androidx (but my project is). This make it unusable in my project

[2019-09-03 15:27] cortinico commented on #80
Yeah @abhijeet-nkt you're right.
I'm happy to receive a PR for this (you're more than welcome to do it :D)

Ideally the upcoming version of slidetoact (0.8.0) will be AndroidX compatible only.

In the meanwhile, you can still use Jetifier (https://developer.android.com/studio/command-line/jetifier) and use slidetoact in your project.

[2019-09-26 04:03] ThinkHattke commented on #80
@cortinico can I migrate it to androidx?

[2019-09-26 17:31] cortinico commented on #80
Sure please go ahead @ThinkHattke :)

[2019-10-23 15:28] jershell opened #82 "How to set duration of animation?"
It is impossible?

[2019-10-23 22:02] cortinico commented on #82
I'm afraid this is not currently possible.
The animation duration are currently hardcoded. Ideally they could be exported to a resource and exposed as a resource.

[2019-10-23 22:02] #82 closed

[2019-10-23 22:23] #80 closed

[2019-11-04 08:25] itabdullah opened #84 "Caused by: android.content.res.Resources$NotFoundException: File res/drawable-xxhdpi-v4/*.png from xml type xml resource ID #"
I am trying to apply custom icon for the slider but getting following crash. The resource is available in drawable folder.
[code]
## My xml:

[code]

## Tesing device:
Samsung A30 - Android version: Pie 9

## Library Version:
```    implementation 'com.ncorti:slidetoact:0.7.0' ```

## Full stacktrace:
[code]
## Gradle:
[code]

Please let me know if you need more details.
Thanks for your support.

[2019-11-04 17:05] emmelybl commented on #84
I have exactly the same problem. I've tried multiple icons and setting but it always crash.
I hope someone have a solution.
Thanks in advance.

[2019-11-04 17:11] cortinico commented on #84
Hi @itabdullah @emmelybl
Can you please provide more details on the drawable that you're using? Are you using a PNG file? Can you please use a vector drawable and confirm that the crash is still happening?

[2019-11-04 18:05] emmelybl commented on #84
@cortinico Yes, like you said I was using a PNG file, but I used Inkscape to make it into an SVG and it works perfectly now ! Thank you so much !

[2019-11-04 18:30] cortinico commented on #84
If your issue is solved, can I ask you to close it? Thanks 👍

On Mon, Nov 4, 2019, 19:05 emmelybl <notifications@github.com> wrote:

[2019-11-04 18:33] emmelybl commented on #84
@cortinico Sorry, it's not me who opened this issue, I just commented, so I don't think I can close it

[2019-11-04 22:13] cortinico commented on #84
@itabdullah Can you please verify that converting the drawable to Vector Drawable solves this issue?

[2019-11-05 04:15] itabdullah commented on #84
@cortinico thanks. I used a vector image and yes it is now accepting and working fine. Previously I was using a  PNG file.
Please note: I also tried a SVG file but it too caused crash like PNG. So it seems only vector images works with custom slider icon.

[2019-11-05 11:33] cortinico commented on #84
Yes, that's the intended behavior. Thanks for verifying

[2019-11-05 11:33] #84 closed

[2019-11-06 10:22] amit-mansa commented on #42
How can i change the button image size its to small

[2019-11-06 16:07] cortinico commented on #42
Please open another issue as this is unrelated to the current thread.

[2019-11-12 00:21] mariaangelamagtoto opened #85 "How to implement onSlideCompleteListener event callback ?"
I wasn't able to capture on slide events of the plugin. I am using the latest version 'com.ncorti:slidetoact:0.7.0'

[code]

I am using the above interface but I can't seem to capture the events. I wasn't able to implement .setOnSlideCompleteListener. I am implementing the slider inside a Fragment.

compileSdkVersion 29
buildToolsVersion "29.0.2"
kotlin_version = '1.3.50'
gradleVersion = '3.4.2'

[2019-11-20 18:05] cortinico commented on #85
Hi @mariaangelamagtoto
Can you please be more specific?

The interface you mentioned is this one:

[code]

The `onSlideComplete` function is called when the complete animation is over.
I don't understand if you had problems implementing the event handler or you're reporting that events are not delivered

[2019-12-04 02:56] jchau207 opened #86 "Cannot use custom Icons for API level < 23"
Android cannot inflate custom icon drawable on API level <23.

Library Version: 'com.ncorti:slidetoact:0.7.0'
Android Version: 6 (API 23)

stacktrace:

        at android.view.LayoutInflater.inflate(LayoutInflater.java:539)
        at android.view.LayoutInflater.inflate(LayoutInflater.java:423)
        at com.bitcoin.mwallet.app.viper.ScreenView.onCreateView(ScreenView.kt:36)
        at androidx.f

[2019-12-07 09:32] itabdullah1 opened #87 "Increase size of inner circle making it bigger than outer circle"
Nice library with nice animation

## What kind of issue is this?

 - [ ] Feature Request.
Is it possible to increase the size (diameter) of the inner circle without increasing the size of outer circle such that the inner circle becomes bigger than outer circle?

[2019-12-22 00:02] cortinico commented on #86
Hi @jchau207,
Thanks for using the library and reporting this issue,

From what I can see from the stacktrace, you're trying to use a custom icon that is not a vector drawable: `ic_send.png`. Please update this resource to be a vector drawable as well. Using custom icons that are not vector drawables is not supported.

[2019-12-22 00:02] #86 closed

[2019-12-22 00:03] cortinico commented on #87
Sounds like a valid use case. I'll leave it around if someone wants to contribute to the library :)

[2019-12-22 00:05] cortinico commented on #86
Also see #84 for more context

[2019-12-29 09:37] rushix123 opened #88 "Change the circle icon when sliders sliding completed"
## When Sliders sliding gets complete, then how can i change the circle image with tick to a custom button?

I liked this library very much, nice work and appreciated response from you guys

[2019-12-29 11:54] rushix123 commented on #85
@mariaangelamagtoto

slide.setOnSlideCompleteListener(new SlideToActView.OnSlideCompleteListener() {
            @Override
            public void onSlideComplete(@NonNull SlideToActView view) {
                log.append("\n" + getTime() + " onSlideComplete");
            }
        });

Where "slide" is =

slide = findViewById(R.id.slide);

[2019-12-29 17:21] cortinico commented on #85
Closing for inactivity

[2019-12-29 17:21] #85 closed

[2019-12-30 10:17] rushix123 opened #89 "How can i increase animation time and make it quick?"
In your documentation it is there -

val sta = (SlideToActView) findViewById(R.id.slider);
sta.animDuration(600)

But my code is in java and i do not know kotlin language, How can i call the same function in java?

[2019-12-30 18:05] cortinico commented on #89
Hi @rushix123
Thanks for asking this question.

Please note that the Animation Duration attribute was recently merged on master and is not available in any release yet. You would have to either build the library manually or wait for a new release.

You can easily achieve the same result with:

[code]

in Java

[2019-12-30 18:05] #89 closed

[2019-12-30 20:56] habosoft1 opened #91 "How to create the button programmatically and modify attributes like text, color, etc?"
## What kind of issue is this?

 - [ ] UI Bug. Please provide a Screenshot/Video/GIF of what's the problem. If you need help to record a video you can follow [this guide](https://developer.android.com/studio/command-line/adb.html#screenrecord)

 - [ ] Functional Bug. Please describe the scenario of the bug. Furthermore, please spend the time to write a failing test.

 - [ ] Feature Request. Start

[2020-01-01 13:32] abhijeet-nkt commented on #87
I'm interested.

Forked and cloned ;)

[2020-01-01 18:40] cortinico commented on #87
Awesome! Looking forward.

On Wed, Jan 1, 2020 at 2:32 PM Abhijeet Soni <notifications@github.com>
wrote:

--
Nicola Corti - Android Infrastructure Engineer
corti.nico@gmail.com
http://ncorti.com
"Look wide, and even when you think you are looking wide – look wider
still!"

[2020-01-01 20:14] cortinico commented on #91
Hi @habosoft1
You can achieve the desired behavior by just creating a `SlideToActView` class  (using one of the 3 constructor) and attaching it to a `ViewGroup`.

Here an example in Java:

[code]

[2020-01-01 20:14] #91 closed

[2020-01-01 20:18] cortinico commented on #88
Hi @rushix123
Thanks for using the library and asking this question.

Currently there is no public API to expose this property (we might add it in the future if there is enough demand from the community).

The current workaround that you can try, is to provide an `<animated-vector>` resource in your library project called `slidetoact_animated_ic_check.xml`.

Having such a file in the app project,

[2020-01-01 20:18] #88 closed

[2020-01-03 17:17] abhijeet-nkt commented on #87
When I look into it, I can think of two ways of achieving this:

1. Having a property and an XML attribute which allows tweaking the height of the inner rect.

2. Property and attribute for height of outer rect. (One can lower down this value to get the outer rect bigger than the inner one)

To me, the second one seems simpler to implement  but I don't want to mess up, so I'm asking you:
What appr

[2020-01-03 18:11] cortinico commented on #87
Hey @abhijeet-nkt
When looking into the code to give you an hint, I noticed that slidetoact actually already supports this. The behivor can be achieved with a **negative** value for the `area_margin` property + setting `android:clipChildren="false"` on the parent layout.

Like this:
[code]

Here a video of the outcome:
![Uploading negative_area_margin.gif…]()

Was this the desired behavior @itabdu

[2020-01-03 18:23] itabdullah1 commented on #87
**@cortinico :** yes exactly, this is what I intended, great work, thanks for quickly coming up with the solution. I implemented it and it is working.
Yes we can close this as solved and the README deserves this feature.

[2020-01-03 18:27] abhijeet-nkt commented on #87
@cortinico Would look even better if the outer circle had shadow (shadow which appears on setting elevation) don't you think ?

[2020-01-03 18:33] cortinico commented on #87
Absolutely, you would have to play a bit with the `Outline` class when the `area_margin` is negative (see here https://developer.android.com/reference/android/graphics/Outline.html).

Do you want to play around with it a bit? :)

[2020-01-04 01:20] #87 closed

[2020-01-09 13:41] benjdero commented on #52
@cortinico How can I achieve the reverse animation ? I would like the slider to start collapsed while some data is loading, and then, once it's finished loading, to expand and start the normal behavior.

[2020-01-10 18:11] cortinico commented on #52
As previously commented, currently is not supported. We should implement the support for changing the slider stats programmatically. If someone from the community is willing to take this issue, I'm happy to review a PR :)

[2020-02-18 08:29] GeorgeMina opened #104 "app:icon_margin does not work"
Setting icon_margin for my slider gives the following error and does not build project:

AAPT: error: attribute icon_margin (aka packageName:icon_margin) not found.

[2020-02-18 09:30] cortinico commented on #104
`icon_margin` is on master but hasn't been released yet. It will be included in the upcoming release

[2020-02-18 09:30] #104 closed

[2020-02-25 02:51] jamesweb1 commented on #20
@cortinico How to set the background of the arrow icon to gradient as the @blabz-rahulmandalkar  mentioned before?

[2020-02-25 14:42] cortinico commented on #20
Currently is not possible. I'm happy to review a PR if you're willing to develop this feature 🙏

[2020-02-26 12:50] Akkiii commented on #48
`java.lang.IllegalStateException: Target with the name "check" cannot be found in the VectorDrawable to be animated.
        at android.graphics.drawable.AnimatedVectorDrawable$AnimatedVectorDrawableState.prepareLocalAnimator(AnimatedVectorDrawable.java:848)
        at android.graphics.drawable.AnimatedVectorDrawable$AnimatedVectorDrawableState.prepareLocalAnimators(AnimatedVectorDrawable.java:826

[2020-02-27 17:30] cortinico commented on #48
@Akkiii this is a old issue. Can you create a new one? Moreover, more details are needed. Ideally you should link to your project or to a reproducible environment where I can check what's going on.

[2020-03-02 22:02] sebasira opened #107 "Keep slided to unlock"
**FeatureRequest**

I would like to have an attribute so I can set a value of time (maybe milliseconds) to request the button to remain-slided (sorry for my English) so the action would be effective. Or maybe not a time value but an attribute with a default inner time (as the long click).

In other words if I just slide the button it would bump as if it was locked. But if I keep it in the slided p

[2020-03-03 16:32] cortinico commented on #107
Hi @sebasira Thanks for submitting this feature request.

Unfortunately I haven't fully understood your request. Can you provide a real-world scenario or use case?

Generally, I don't think that having a timing attribute is a good idea. Ideally you should be able to achieve what you need only using event handlers.

[2020-03-04 03:31] sebasira commented on #107
I agree with you when you say

But I was thinking that maybe this behaviour could be encapsulated in this library.

The real-world scenario would be to prevent *unwanted* slides. I know it's difficult to accidentaly slide a button from one side to another, but in the app I'm developing the Users *say* they accidentaly do it most of the time. You could think of the requirement as a long-pressed but

[2020-03-04 17:22] cortinico commented on #107
Hi @sebasira
Thanks for your explanation, I got your point. I understand your scenario but this looks to me like a real niche use case. I'm afraid but I have to reject this feature request.

As a side note, you can probably achieve this behavior as you suggested:

[code]

* Lock the slider
* Fire an event (you need to create a new eventhandler) when the slider reaches the end
* For that event you

[2020-03-04 17:22] #107 closed

[2020-03-07 20:00] adeldolgov opened #108 "How to change icon programmatically?"
Hello. Thanks for the library. How can i change icon inside slide button programmatically?

[2020-03-12 18:06] cortinico commented on #108
Hi @adeldolgov
You can easily use the `custom_icon` property to change the slider icon:

https://github.com/cortinico/slidetoact/blob/983de7be73bfd13773092c1981d9e54fd18e4f0f/example/src/main/res/layout/content_custom_icon.xml#L14-L18

[2020-03-12 18:06] #108 closed

[2020-03-21 12:48] cortinico commented on #104
Hey @GeorgeMina, quick heads up that version `0.8.0` has been released with this new feature bundled.

[2020-03-21 12:51] cortinico commented on #15
Is this still valid @squeeish?
Or can I close it?

[2020-03-21 13:21] squeeish commented on #15
Hi @cortinico I'm closing this as I cannot remember anymore. Thanks!

[2020-03-21 13:21] #15 closed

[2020-03-23 05:33] smallmonk opened #110 "[UI Bug] Check icon is not shown on some phones after slide action happens"
Thanks for the nice component.

The redundant file "slidetoact_ic_check.xml" exists in path "slidetoact/tree/master/slidetoact/src/main/res/drawable-v25".
The check icon is not shown on some phones due to this file.
I have tried to remove this file and the check icon appears.
Should we apply this change in master?

[2020-03-23 23:48] cortinico commented on #110
Thanks for the question @smallmonk

Can you please provide more context?
Which device are you using for testing? Which API level/Android version is using?
Are you able to reproduce this on a emulator?

[2020-03-24 01:47] smallmonk commented on #110
![phone](https://user-images.githubusercontent.com/8690204/77379458-a62db700-6d70-11ea-9721-b6ce2a645ab1.png)
Attached please find the Huawei Nova 2i specification which I have used for testing.  Interestingly, I am unable to replicate the issue on the emulator with the same screen size (1080x2160) with API 26 (Android 8.0.0)

[2020-03-24 19:58] cortinico commented on #110
Seems like a device-related issue? I'd suggest we keep this issue open and see if we have reports from other devices. Ideally having a scenario where I could reproduce the issue would be great

[2020-03-24 23:25] smallmonk commented on #110
Thanks for investigation.
I have doubt on the purpose to include a blank image "slidetoact/tree/master/slidetoact/src/main/res/drawable-v25/slidetoact_ic_check.xml" in the project.  What is your thought?

[2020-03-25 23:37] cortinico commented on #110
That's actually not a blank image. Is a vector drawable with the `android:trimPathEnd="0"`. That's the reason why you see it blank.

The `trimPathEnd` property is animated with an animated vector drawable to have the _tick drawing_ effect. Due to some bugs with the Support Library, I had to include a fallback on API levels before 25 (N). The fallback is just showing the checkmark fading in the scr

[2020-03-30 13:00] slimoak opened #111 "Small screen issue"
- :white_check_mark: UI Bug / Feature request
![Screenshot 2020-03-30 at 14 42 14](https://user-images.githubusercontent.com/18551562/77913642-e8855580-7294-11ea-932e-a61187c32edc.png)

No control over text positioning. For longer texts and small screens, it is not possible to set the view to show all the text that is covered by the icon. It would be nice to set the text gravity / margin.

Code:
[

[2020-03-30 13:08] cortinico commented on #111
Hi @slimoak Thanks for reporting.

Can you please elaborate a bit more here? How text gravity/margin will help you solve your issue? From my point of view you just have to decrease the `textSize`.

[2020-03-30 13:27] slimoak commented on #111
Margin could help, for example, in cases like this:
![Screenshot 2020-03-30 at 15 22 05](https://user-images.githubusercontent.com/18551562/77917532-f76f0680-729a-11ea-841b-d0df1da4814f.png)
Reducing the size of the text, unfortunately, is not always the best solution, in this case where all buttons must be visible and legible (application directed to drivers) from a large distance can cause probl

[2020-03-30 15:54] cortinico commented on #111
I'm sorry but I still don't understand what `margin` should do here.
The text is centered in the view intentionally. Would you like to move the text to the right? How do you know that the size you provide for the margin will suffice?

[2020-04-01 07:28] #111 closed

[2020-04-06 10:22] samk17cmutpm commented on #20
Hi all, how about this?? Any update?? I need the innerColor could be drawble
<img width="134" alt="Screen Shot 2020-04-06 at 5 21 54 PM" src="https://user-images.githubusercontent.com/7029528/78548534-25b88d00-782b-11ea-8ba3-bded4b3e534d.png">

[2020-04-09 14:16] Equin opened #112 "Multiline text"
Is it possible to set multiline support ?
There are cases when text not fit slider and smaller text size will not be redable on big devices..
http://prntscr.com/rw5ywn

[2020-04-10 22:33] cortinico commented on #112
Hi @Equin
Thanks for the feature request. Multi-line text is not currently supported.
I also don't know if it's worth to develop as it's probably a bit outside the scope of the library.

[2020-04-10 22:33] cortinico commented on #112
I'm happy to review/discuss a PR eventually 👍

[2020-04-15 18:06] xelias11 opened #113 "Getting this bug from older devices in my firebase crashlytics"
![slidetoact](https://user-images.githubusercontent.com/14848056/79371059-0a98fc00-7f54-11ea-9133-42c76f22c6d5.PNG)

Hey!
First of all, thank you for the amazing library. I sent you the stacktrace I am getting when the slidetoactview is used by the older devices (still supported version though).

This device was:
VIBE K6 Power with Android 6.0.1 version.

I was using SlideToActView 0.7.0 version.

[2020-04-15 18:17] cortinico commented on #113
Hi @xelias11, Thanks for the bug report.
Is this still happening on slidetoact `0.8.0`?

[2020-04-23 18:01] Sorwar-Hosen-Mostafa opened #114 "How to change the text dynamically from code end?"
## What kind of issue is this?

 - [ ] UI Bug. Please provide a Screenshot/Video/GIF of what's the problem. If you need help to record a video you can follow [this guide](https://developer.android.com/studio/command-line/adb.html#screenrecord)

 - [ ] Functional Bug. Please describe the scenario of the bug. Furthermore, please spend the time to write a failing test.

 - [x] Feature Request. Start

[2020-04-23 18:07] quanta-kt commented on #114
There is a `text` property for this.

Java:
[code]
Kotlin
[code]

[2020-04-23 19:00] cortinico commented on #114
Thanks @quanta-kt for providing the response 👍

[2020-04-23 19:00] #114 closed

[2020-04-28 12:52] xelias11 commented on #113
Unfortunatelly, yes, it's still happening.

[2020-04-28 13:21] cortinico commented on #113
Can you please provide more context:

- What's the percentage of user affected by this?
- What's the distribution in terms of devices affected by this?
- What's the distribution in terms of Android API lvl affected by this?

[2020-04-30 21:59] adeldolgov opened #115 "iOS like "slide to unlock" animation"
## What kind of issue is this?
 - [X] Feature Request. Start by telling what's problem you’re trying to solve. A Pull request is welcome as well.

## Details

How to make iOS like "slide to unlock" animation for text? Any ideas?

[2020-04-30 22:00] cortinico commented on #115
Can you be more specific? What is a _iOS like_ "slide to unlock"?
Do you have a video/gif to share?

[2020-04-30 22:04] adeldolgov commented on #115
![shimmer](https://user-images.githubusercontent.com/17458811/80763649-a9724a80-8b47-11ea-9ee0-b9255c259abf.gif)
@cortinico something like this :

[2020-04-30 22:24] cortinico commented on #115
That's nothing easy to achieve without an external library like this one:
https://github.com/facebook/shimmer-android

I don't plan to depend on an `shimmer-android` as this will impact all the users. I'm sorry buy I think the easiest approach for you is to fork the library and you use a component from `shimmer-android` to render the text.

[2020-04-30 22:24] #115 closed

[2020-04-30 22:25] adeldolgov commented on #115
Thanks :)

пт, 1 мая 2020 г., 1:24 Nicola Corti <notifications@github.com>:

[2020-05-12 02:41] Sean-Y-X opened #116 "Is there any way to make it work in an async way?"
Thanks for this awesome library.

Just wondering if there is any way to make it async.

For example, aftering sliding to the right, call an api and waiting for the api response then show the complete animation.

[2020-05-12 19:48] cortinico commented on #116
Hi @Sean-Y-X

Unfortunately there is no support for this feature at the moment. I think it will be a good addition, though will add several states to the widget. Currently the widget is either "ready" or "completed".

What you're suggesting is to add the "loading" state (with some sort of animation that is missing at the moment), as well as some handling of error (like what should happen if the AP

[2020-05-14 13:13] Keerat666 opened #117 "How to implement OnSlideCompleteListener inside a fragment in kotlin?"
Hi! I am unable to create the OnSlideCompleteListener inside a fragment which is using Kotlin.

[2020-05-14 13:47] quanta-kt commented on #117
You can use object expression:

[code]

[2020-05-14 20:44] cortinico commented on #117
Thanks for providing the answer @quanta-kt 👍

[2020-05-14 20:44] #117 closed

[2020-05-26 01:54] tinolaomahei opened #118 "How do I programmatically change the icon for the slider?"
This might be related to: https://github.com/cortinico/slidetoact/issues/108, however I don't think the answer under the issue answers the question.

Will there be an option to change the icon programmatically with something like:

[code]

Thanks in advance! Really nice widget :D

[2020-05-26 08:50] cortinico commented on #118
Hi @tinolaomahei
You're right, exposing the icon as a public property is definitely doable.
Happy to review a PR to add this feature :)

[2020-05-26 14:35] agforte opened #120 "Error inflating class com.ncorti.slidetoact.SlideToActView"
## What kind of issue is this?

 - [X] UI Bug. Please provide a Screenshot/Video/GIF of what's the problem. If you need help to record a video you can follow [this guide](https://developer.android.com/studio/command-line/adb.html#screenrecord)

 - [X] Functional Bug. Please describe the scenario of the bug. Furthermore, please spend the time to write a failing test.

 - [ ] Feature Request. Start

[2020-05-26 15:07] quanta-kt commented on #120
This might not necessarily be a library bug but an error in your code (which seems more likely be the case).

Please attach your layout XML file which uses the SlideToActView.

[2020-05-26 16:00] agforte commented on #120
Now the XML preview in Android Studio magically shows the preview of the swipe button and not the placeholder as before. The crash is still there though.

Here is the XML:
[code]

[2020-05-26 19:05] cortinico commented on #120
The placeholder gets rendered correctly once you build the app and run it.

For the crash, are you using AndroidX or the old support library?

[2020-05-26 19:19] agforte commented on #120
I am confused. Does you library have dependencies not documented in the README?

In the README it says to just add
[code]
and that's it.

I am using AndroidX for other components as you can see in the layout code I posted above.

[2020-05-26 19:34] cortinico commented on #120
The library internally has [two dependencies](https://github.com/cortinico/slidetoact/blob/032f536b80cf8560d3b38e0aa3157d21b150c062/slidetoact/build.gradle#L30-L33): the Kotlin stdlib and androidx.appcompat. You anyway don't need to declare them as they will be imported automatically.

Yeah you're right. So the crash seems to be related to the inflating of the `outer_color` attribute:
https://gith

[2020-05-26 20:08] agforte commented on #120
Unfortunately I do not have the time to create a project to share right now. However, I can confirm that the problem is with ```outer_color```. I have set ```outer_color``` to a value and now it does not crash any longer.
If I do not set ```outer_color``` then by default it picks up colorAccent according to my theme. This is when the crash happens.

[2020-05-26 20:48] cortinico commented on #120
I assume you don't have `colorAccent` set in your theme, right?
Looks like this is a real bug. The widget fallbacks the `outer_color` property to the `?colorAccent` theme attribute:

https://github.com/cortinico/slidetoact/blob/032f536b80cf8560d3b38e0aa3157d21b150c062/slidetoact/src/main/res/values/styles.xml#L8

If that is missing the consuming app seems to crash with the stacktrace you reported.

[2020-05-27 00:34] agforte commented on #14
I am interested in this feature as well. Thanks!

[2020-05-31 11:16] etman55 commented on #14
Hi @cortinico i need this feature too

[2020-05-31 17:27] cortinico commented on #14
Hi all 👋

I'm happy to review a PR or support the development of this functionality.

I currently can't develop it by myself (at least not in the immediate future) since I'm pretty full. If there are first-time contributors or volunteers that want to pick this up, don't be shy 💪

[2020-06-03 11:04] xelias11 commented on #113
Don't know exact number but all issues came from Chinese brands like Lenovo, Xiaomi or Huawei with the API lvl 6.0.1 or below. My estimation might be out of 1000 users 10 were effected so not that serious but since I am using it for making payments I am loosing customers :/

Answered above

Answered above

[2020-06-04 18:47] cortinico commented on #113
Thanks for the context.
As of now, I can't really debug this issue as it's impossible for me to reproduce. I'll leave this open so if other developers are experiencing the same bug they can maybe provide more details here.

[2020-06-05 00:02] tinolaomahei commented on #118
My PR for this has been merged to master: https://github.com/cortinico/slidetoact/pull/119

[code]

[2020-06-05 00:02] #118 closed

[2020-06-15 09:25] fugogugo opened #122 "make mPositionPerc public or add event to track position percentage"
I see there's mPositionPerc that is used to rotate icon angle according to the position. But unfortunately it isn't accessible.

Actually this mPositionPerc is more useful than just to rotate the icon.  I think it would be good if there's event to track this mPositionPerc . In my case I need this value to fade out my background alpha according to the slide position

I want to do it myself but I do

[2020-06-15 09:31] fugogugo commented on #122
Oh wait I'm sorry.

apparently `onSlideCompleteAnimationStarted treshold` is exactly what I needed.

thank you :)

[2020-06-15 09:50] fugogugo commented on #122
.... Apparently onSlideCompleteAnimationStarted only called when I release the slider .. so there's no actual event to track mPositionPerc in real time

so I will reopen this issue

[2020-06-15 15:22] Farzad-Aghaeizadeh opened #123 "How to make slider image doesn't rotate when setReversed(true) ?"
In some states, I have a problem with setReversed() method, In this case, when setReversed(true) called,  icon image has been rotated 180 degrees and I didn't want that, How can I do that?

It has been written in some issues that in the new version changing the icon image programmatically will be added and this can solve my problem, but when is the new version release date?
is there another soluti

[2020-06-15 18:58] cortinico commented on #123
Correct, the feature merged in #119 will allow you to override the image at runtime with whatever you want.

Given that the last release was done in March, I can imagine releasing another version soon (like this week). In the meanwhile you can try the version on top of master with JitPack and let me know if that unblocks you: https://jitpack.io/#cortinico/slidetoact/

[code]

[2020-06-15 19:28] Farzad-Aghaeizadeh commented on #123
Dear Cortinico, thank you.
It helps me, a very useful comment 👌.

[2020-06-15 19:28] #123 closed

[2020-06-15 19:40] cortinico commented on #122
Hi @fugogugo, thanks for sending this feature request.

What you're asking is something like a:

[code]

as exposing just `mPositionPerc` will not fit your use case (you want to be notified when the progress change in order to updated your background).

I'm leaning towards not doing this change for mostly two reasons:
- Seems like this issue will solve only your specific issue and is not a general

[2020-06-19 21:04] etman55 commented on #14
Hi @cortinico
i have pulled a request for this issue i hope you can take a loot at it
https://github.com/cortinico/slidetoact/pull/124

[2020-06-20 18:16] cortinico commented on #14
Awesome, I'll check it out next week 👍

[2020-06-25 14:46] jonandersen opened #125 "Crash com.ncorti.slidetoact.SlideToActView.parseVectorDrawableCompat"
## What kind of issue is this?

 - [ ] UI Bug. Please provide a Screenshot/Video/GIF of what's the problem. If you need help to record a video you can follow [this guide](https://developer.android.com/studio/command-line/adb.html#screenrecord)

 - [X] Functional Bug. Please describe the scenario of the bug. Furthermore, please spend the time to write a failing test.

 - [ ] Feature Request. Start

[2020-06-26 09:21] cortinico commented on #125
Thanks for the detailed report @jonandersen, seems like a bug. I need to get back to this sometime next week. If someone could help investigating would be more than appreciated 🙏

[2020-06-26 14:04] jonandersen commented on #125
Thanks @cortinico, I looked into this and found that if we change VectorDrawableCompat to a Drawable it doesn't produce any error. However doing that the tint color functionality is lost it seems.

[2020-07-04 01:12] cortinico commented on #125
I do have a proposed fix @jonandersen. Would it be possible for you to test that branch and let me know if it works fine on your local build?

[2020-07-07 14:47] jonandersen commented on #125
@cortinico  I tested your changes and I'm not seeing the crash anymore!

[2020-07-07 15:43] #125 closed

[2020-07-07 16:12] jonandersen commented on #125
@cortinico do you think it would be possible to get bug fix release for this before the 0.9.0?

[2020-07-07 16:31] cortinico commented on #125
I think we can make a release this week as we have some stuff to ship 🚀

[2020-07-07 16:34] jonandersen commented on #125
@cortinico great! Thank you!

[2020-07-08 11:26] #14 closed

[2020-07-15 17:41] cortinico commented on #125
And 0.9.0 is out https://github.com/cortinico/slidetoact/releases/tag/v0.9.0 🎉

[2020-07-15 17:42] cortinico commented on #123
This is now included in version 0.9.0 that was release just now:
https://github.com/cortinico/slidetoact/releases/tag/v0.9.0

[2020-08-02 17:33] reizamv opened #130 "UI Bug Outer_color make a mixed color with default color"
if we coding the outer like this
switch.outercolor = R.color.green., and default its blue ...its make dark green because mixed
solution this must delete the first color and add new color..i hope you fix this thanks for the library

[2020-08-03 16:31] cortinico commented on #130
Can I ask you to be a bit more specific? Maybe provide a code sample or share your project?
If you call `.setOuterColor(Color.GREEN)` on a SlideToActView the effect is this one:

![Screenshot 2020-08-03 at 18 28 33](https://user-images.githubusercontent.com/3001957/89205140-837d9b80-d5b7-11ea-8de0-fa60378501fa.png)

[2020-08-13 12:39] omergundogdu75 opened #131 "Intellisense Issue"
Dear All,

After adding the plugin (com.ncorti:slidetoact:0.9.0) in our development environment, Android Studio's intellisense function stops working.

After removing, it s working properly.

Anybody faces such error ?

Thank you

[2020-08-13 15:52] cortinico commented on #131
Can you share your build.gradle file? Or a project that I can reproduce?
Which version of Android Studio are you using?

[2020-08-14 08:29] kotnisai opened #132 "when i add SetCompleteIcon progrmatically display default icon first time and after display customised ICON."
## What kind of issue is this?

 - [ ] UI Bug. Please provide a Screenshot/Video/GIF of what's the problem. If you need help to record a video you can follow [this guide](https://developer.android.com/studio/command-line/adb.html#screenrecord)

 - [ ] Functional Bug. Please describe the scenario of the bug. Furthermore, please spend the time to write a failing test.

 - [ ] Feature Request. Start

[2020-08-14 08:35] kotnisai opened #133 "when i add SetCompleteIcon progrmatically display default icon first time and after display customised ICON."
## What kind of issue is this?

 - [I have two types of icons is display based on status Complete Icon not fixed ] UI Bug. Please provide a Screenshot/Video/GIF of what's the problem. If you need help to record a video you can follow [this guide](https://developer.android.com/studio/command-line/adb.html#screenrecord)

 - [ ] Functional Bug. Please describe the scenario of the bug. Furthermore, pl

[2020-08-14 09:04] cortinico commented on #132
Duplicates of #133

[2020-08-14 09:04] #132 closed

[2020-08-14 09:05] cortinico commented on #133
Please fill in the template correctly:

Library Version.
Android Version.
Emulator/Device specs.
Logs/Crash reports/Stacktraces.
Example Code/Link to repositories.

[2020-08-15 00:11] reizamv commented on #130
in xml i use this .setOuterColor(Color.GREEN)
..annd then i want to change in another color like red in class  switch.outercolor = R.color.red
it became darker green

[2020-08-15 18:21] cortinico commented on #130
The problem is that `.outercolor` expects a `ColorInt` and not a `ColorRes`.
You should be good to go with:

[code]

[2020-08-16 08:51] kotnisai commented on #133
After swipe the button can i show loading icon some time and show success message.

[2020-08-19 18:46] cortinico commented on #133
I think this issue is a duplicate of https://github.com/cortinico/slidetoact/issues/116
I'm closing it for now and let's follow over the discussion in the other issue.

[2020-08-19 18:47] #133 closed

[2020-08-26 18:15] tutorbear opened #135 "Setting a custom looping animated vector drawable inside of completeIcon"
## What kind of issue is this?

I have an animated vector drawable which is a refresh icon that rotates. I made it using ShapeShifter.desgin . How can I set it as a completed icon and make it loop ? Also, when I click a button, the completed icon will change from the refresh rotation animation to a done tick animation. An example in java would be amazing! TIA

          protected void onCreate(@Nu

[2020-08-27 12:58] cortinico commented on #135
You should be able to achieve this by updating your object animator of your `AnimatedVectorDrawable` to loop forever:

[code]

[2020-08-27 13:01] tutorbear commented on #135
I have tried that, but it still loops only once.

[2020-08-27 13:04] tutorbear commented on #135
The looping works, but is there any way I can set a new complete Icon animation (A done tick animation) when I click a button ? Currently It doesnt show the animation.

[2020-08-27 13:14] tutorbear commented on #135
https://media.giphy.com/media/eMDqdhMDsUhGVZtLGn/giphy.gif

This is what the above code is producing now

[2020-08-27 14:55] cortinico commented on #135
What you're asking is a duplicate of https://github.com/cortinico/slidetoact/issues/116

This is currently not supported at the moment but, if there is need, I'm happy to discuss a potential implementation for it.

[2020-08-27 14:55] #135 closed

[2020-09-01 18:17] diaconori opened #136 "Custom fonts via text_appearance attribute does not work on run-time"
Hi.

I am trying to customize the font type used in the SlideToActView through the text_appearance attribute, however the widget does not seem to be function properly.

The widget updates the font types to the new one on design-time but on run-time it reverts back to the original sans-serif font type.

I am using [Belgano](https://fonts.google.com/specimen/Belgrano) as the theme of my app.

**The

[2020-09-04 01:11] RexNexstream commented on #110
[video.zip](https://github.com/cortinico/slidetoact/files/5172094/video.zip)
Hi , I facing the same issue, attached video for your reference.
And SlideToActView.OnSlideCompleteListener no called after slide.

[2020-09-04 17:08] cortinico commented on #110
Thanks for the reference. Is it happening on every device?

Please open another issue

[2020-09-04 17:11] cortinico commented on #136
Hi @diaconori
Thanks for your report. I wasn't unfortunately able to reproduce.

The setup seems really similar to one we have in the sample app:

https://github.com/cortinico/slidetoact/blob/819ae3a122ce11a282c1d0496fa39f72a2af6ada/example/src/main/res/layout/content_text_size.xml#L59-L62

https://github.com/cortinico/slidetoact/blob/819ae3a122ce11a282c1d0496fa39f72a2af6ada/example/src/main/res/v

[2020-09-04 17:13] cortinico commented on #136
Could you also provide the version of the library you're using?

[2020-09-07 08:16] sueyz commented on #110
Its happening for me too. I noticed that the check icon only appears onResume? Since, i lock my phone, unlock it and its there. Sorry if information is not enough. Still learning.  Device is huawei p20, Android 10. I tested it on emulator pixel 2 with api 26, it works fine.

[2020-09-07 08:53] RexNexstream commented on #110
No , but sorry i cant provide enough information because this reported by the client who using production app. I din face this problem during development.

[2020-09-07 09:43] RexNexstream opened #138 "OnSlideCompleteListener doesn't call after slide."
[video.zip](https://github.com/cortinico/slidetoact/files/5182354/video.zip)

OnSlideCompleteListener din called after slide action , attached video for your reference.

Similar issue - [https://github.com/cortinico/slidetoact/issues/110](url)
library version - 0.9.0

[2020-09-12 13:53] LassassinX commented on #122
I would love a listener like this. Helps in making animations in my activity more responsive and lively!

[2020-09-12 21:43] cortinico commented on #122
Can you please describe what you're trying to achieve?

[2020-09-12 21:50] cortinico commented on #138
Thanks for the report @RexNexstream
Unfortunately, that's not sufficient to identify the bug and eventually fix it.

I'm wondering if the slider is getting stuck or not. Your app seems to proceed afterwards so it looks like the 'tick' icon is not shown but the app proceeds afterwards (my suspect is that `OnSlideCompleteListener` is actually called).

[2020-09-13 02:44] LassassinX commented on #122
I wish to dynamically fade out a fab that i have on my screen as the user slides the slider. It adds quite a good touch of responsiveness to it.

[2020-09-13 02:46] LassassinX commented on #122
However, this is not an aesthetic i would want at the cost of performance

[2020-09-13 04:13] kamit971 commented on #138
Hi @cortinico , i underStand what @RexNexstream is facing ,
Initially moving the slider from left to right  OnSlideCompleteListener is called but again if you want to move back from right to left manually than OnSlideCompleteListener is not calling. please provide the solution i am also facing this issue long back.

[2020-09-13 09:00] cortinico commented on #138
Can you elaborate here?

Once the `onSlideComplete` gets called it means that the slider reached the complete state (shows a tick). You can't manually move back from right to left. You can reset the slider, and the `onSlideReset` callback will be called.

[2020-09-13 09:14] cortinico commented on #122
☝️ Exactly. My suggestion here would be to start a fade animation for your FAB once the `onSlideCompleteAnimationStarted` callback gets fired.

[2020-09-13 10:15] RexNexstream commented on #138
The Slider getting stuck and the tick does not show .
The logic in the onSlideComplete does not call too.
 My logic in onSliceComplete is calling an api and hide the slider after that.

[2020-09-13 10:36] cortinico commented on #138
Can you please provide a reproducible example? I'm not really able to support here without further context.

You're claiming that the `onSlideComplete` does NOT get called. In the video the slider is hidden after some seconds. Would you be able to explain better what is going on?
Can you prepare a sample project I can look into?

[2020-09-13 14:59] RexNexstream commented on #138
it happen in some device only , I not able reproduce on my testing device too.

I will get more information from my team and update you . Thanks

[2020-09-13 15:01] kamit971 commented on #138
Hi @cortinico . my concern is i don't want to reset the slider, i want to slider back manually f. could you please provide the support  for  this.

[2020-09-13 19:20] LassassinX commented on #122
Is there anyway to implement a drag listener to this that Will give me How
much is Being dragged ??

On Sun, 13 Sep 2020, 3:15 pm Nicola Corti, <notifications@github.com> wrote:

[2020-09-15 17:35] cortinico commented on #122
.

Not at the moment. That's what the issue is about as of today 👍

[2020-09-15 17:36] cortinico commented on #138
Can explain better?

[2020-09-20 18:15] Nealsoni00 opened #140 "mText cutoff and wrapping issue"
## What kind of issue is this?

 - [ ] UI Bug
![image](https://user-images.githubusercontent.com/7013191/93718662-a6eeac80-fb4b-11ea-8ff5-85d43fe524dc.png)

## Details
When text is too long, it is both hidden behind the slide icon button as well as gets cut off since it does not support text-wrapping.

Is there any way to fix both: Get the text to start after the slide icon button and wrap to mult

[2020-09-22 16:31] cortinico commented on #140
Thanks for the report.

No there is no support for text wrapping at the moment. Also wrapping the text won't really solve the issue if you're providing a text that is anyway too long.

[2020-09-23 17:54] quanta-kt commented on #140
Can adding multi-line support (#112) resolve this?

I'd like make a PR but there are these issues I seek guidance on-
- Is it possible to get the width of the text to be drawn in advanced, before it is drawn so as to calculate where the line should be broken? Maybe use of [StaticLayout](https://developer.android.com/reference/android/text/StaticLayout) instead of calling `Canvas#drawText` will sim

[2020-09-24 03:12] khakimsetia opened #141 "cannot reach setOnClickListener after setOnSlideCompleteListener complete suceesfully"
after slide complete,
setOnClickListener can not function again.

[code]

[2020-09-28 01:21] Nealsoni00 commented on #140
I just created a static layout that solves the issue I described for devices above M. Might make it into a pull request later but otherwise other people can use it.

https://github.com/InvictusApps/slidetoact
`    implementation "com.github.InvictusApps:slidetoact:0.9.1"`

Relevant Change:
[code]

[2020-09-28 05:46] cortinico commented on #140
Thanks for doing this. I've quickly checked your fork and it looks like a valid solution. However this is still unfixed:

Happy to discuss over this on PR anyway 👍

[2020-09-28 06:02] #141 closed

[2020-09-28 06:02] cortinico commented on #141
Yes you're right. The widget was blocking click events when completed. This was fixed by #142 now

[2020-09-28 13:14] khakimsetia commented on #141
thankyou.
how to update to use this fix version?
are new version 10 can be used?
are you have update to gradle dependencies.

[2020-10-10 10:32] kishorejethava opened #143 "How to hide Tick Mark"
I don't want to show tick mark when slide completed, Can we do that?

[2020-10-18 09:58] cortinico commented on #143
The easiest approach is to use the `complete_icon` attribute and pass an empty transparent drawable.

[2020-10-18 10:00] #143 closed

[2020-10-23 13:41] bryan-ibrahim opened #145 "completeSlider issue"
completeSlider functionality is **supposed to complete the slider** programmatically if I'm correct - but it only draws a white line from the start to finish of the slider

[2020-10-23 19:57] cortinico commented on #145
I've just tested and it works fine on my end.
Can you please provide a reproducer and/or a GIF/Video of what you're experiencing?

[2020-11-17 13:00] diaconori commented on #136
Sorry for the very, very late response. I've had some personal issues to deal with at first but to close this ticket, I've found a 'dirty-fix' with the following code:

GoToPaymentFragment.java - initUserInterface() at onViewCreated:
`mPaymentButton = getActivity().findViewById(R.id.payment_button);
 Typeface font = Typeface.createFromAsset(getActivity().getAssets(), "fonts/belgrano.ttf");
 mPayme

[2020-11-17 14:16] #136 closed

[2020-12-18 09:07] JeppeLeth commented on #140
I created a PR for this feature

[2020-12-22 10:19] adneerav opened #147 "Is there any way to change text color partially ?"
## What kind of issue is this?

 - [ ] Feature Request. How to change text color for the swiped area content text. ?
## Details

I want to change text color for the swiped content area.
Example :

I have text "Slide to pay" & initially text color is RED
Now if I swipe up to "Slide".
Text color of "Slide" text should be changed to GREEN & remaining text("to pay") color should remain same as per ini

[2020-12-25 20:06] cortinico commented on #147
If I understand correctly, you're asking for support to partially color the text based on the slide percentage. So if you slide till 50%, half of the text should be colored differently than the other half.

That's currently not supported at the moment. Suggestions/ideas on how to do it are more than welcome.

[2020-12-26 00:28] adneerav commented on #147
Yes correct,

I have done that by calculating text size and innerthumb position.

I'll implement that using style attributes and create PR whenever I have some spare time.

Thanks

[2020-12-28 17:51] nadavstern opened #148 "Is there a way to control the slider speed ?"
## What kind of issue is this?

 - [ ] Feature Request. is it possible to control the speed / add some opposition ?

## Details

I want to change to add some opposition:
Example:

on sliding right, I would like to add some kind of opposition - in contrast to the sliding direction
so it will be harder / easier to change the slider position
I would like to have some kind of number (set to 1 by defau

[2020-12-30 17:35] cortinico commented on #148
This is currently not possible. The slider follows the user touch point, and is rendered just beneath it. To implement your solution we should break this assumption. It will probably require the user to to multiple gestures making the widget more complicated and less intuitive imho.

Can you describe your use case?

[2020-12-30 17:37] nadavstern commented on #148
Thanks for responding
I need to create a challenge in which I should be able to define how easy / hard it is to slide it from right to left or left to right

[2021-01-03 16:39] cortinico commented on #148
Thanks for clarification. I believe that slidetoact is not the right library for you then. You should probably work on something custom that intercepts the touch events and computes the user speed.

[2021-01-29 10:36] akshay-nayak opened #149 "Slide Complete listener assistance"
How do i implement slide complete listener in kotlin ? it just doesnt seem to work

[code]

[2021-01-29 11:41] onivas opened #150 "with "Slider reversed" slider icon is reverted too"
## What kind of issue is this?
 - [ X ] UI Bug:

<img width="1287" alt="Screenshot 2021-01-29 at 12 30 33" src="https://user-images.githubusercontent.com/5575945/106270726-b20ac500-622e-11eb-9ebe-812cf02f46ae.png">

## Details
When I set `slider_reversed=true`, I need to set a reverted (180 degree) icon in `slider_icon` in order to see it right

* Library Version = 0.9.0

[2021-01-29 12:33] cortinico commented on #149
You can do it in this way:

[code]

[2021-01-29 12:33] #149 closed

[2021-01-29 20:02] cortinico commented on #150
That's a bug. Fix is in #151

[2021-01-29 20:13] onivas commented on #150
Prego :)

[2021-01-29 21:03] #150 closed

[2021-01-30 12:09] akshay-nayak commented on #149
Thanks mate ,nice library , you should add the solution in the description
as it can help kotlin begginers

On Fri, Jan 29, 2021, 6:03 PM Nicola Corti <notifications@github.com> wrote:

[2021-03-03 12:31] hannesvoss opened #152 "JCenter distribution"
[Starting from May 1, 2021 JCenter will stop working.](https://jfrog.com/blog/into-the-sunset-bintray-jcenter-gocenter-and-chartcenter/) Are there any plans on migrating to another distribution service?
I would love to be able to continue using the project.

[2021-03-03 19:51] cortinico commented on #152
Thanks for asking.

The library is already mirrored on Maven Central: https://search.maven.org/artifact/com.ncorti/slidetoact/0.9.0/aar

Newer version of the library will be published to Maven Central only

[2021-03-03 20:27] hannesvoss commented on #152
Oh thanks for your reply - I should have checked before. :sweat_smile:

[2021-03-04 09:07] cortinico commented on #152
Makes sense 👍  Would like to help me and a send a PR with that 🙏

[2021-03-09 15:22] doohab opened #153 "completeIcon not accepting animations! Attribute requires String not Drawable!"
XML layout:

`        app:complete_icon="@drawable/slidetoact_animated_ic_check"
`

 It asks for String not drawable. Also, setting this in code not working, no animation at slide completed:

`slide.completeIcon = R.drawable.slidetoact_animated_ic_check`

## Details

* Library Version. **0.9.0**
* Android Version. **11**
* Emulator/Device specs. **Huawei p40**
* Logs/Crash reports/Stacktraces. **n

[2021-03-10 07:04] doohab commented on #153
I needed to call `invalidate()`

I guess this should be mentioned ..

Kotlin:
`binding.slider.onSlideCompleteListener = object : SlideToActView.OnSlideCompleteListener {
            override fun onSlideComplete(view: SlideToActView) {
                view.invalidate()
            }
}`

[2021-03-10 07:04] #153 closed

[2021-03-12 19:58] cortinico commented on #153
What you mean "it asks for String"? The type of this attribute is set the `reference` so it will work correctly if you set it as:

[code]

Can you provide a reproducer?
The sample app has exactly this code and it works fine:

https://github.com/cortinico/slidetoact/blob/fca28ddbedcea55a8d79c6a40e491bd71857f855/example/src/main/java/com/ncorti/slidetoact/example/SampleActivity.java#L79

I guess thi

[2021-03-13 02:59] doohab commented on #153
Not in my case In my case :( . If I don't set `complete_icon` in the xml layout file and in code, the checkmark is not showing at all at completion:

https://user-images.githubusercontent.com/43655526/111016375-91519580-83be-11eb-8019-d604ceb7fb6c.mp4

When I set `@drawable/slidetoact_animated_ic_check` to `complete_icon`, the checkmark also not showing and I get this error:
<img width="420" alt="

[2021-03-13 11:06] cortinico commented on #153
Have you tried in a emulator?
Can you try to run the example app in this repo in your device?

I'm trying to understand if this is a problem of your device or of your configuration.

[2021-03-13 17:42] doohab commented on #153
It works perfect on the emulator, both my app and the expample app

the example app **not** playing complete animation on my Huawei.

[2021-03-13 18:37] cortinico commented on #153
I don't really know how to reproduce this at this point. It seems like a problem with the Huawei phone and the handling of `AnimatedVectorDrawable`s

[2021-03-13 20:20] doohab commented on #153
I don't think this is the case, because I have an animated drawable on another activity as a background for an ImageView, cast it as Animator and calling start() without problem.

[2021-03-16 13:22] AhmedEssam-SameSystem opened #154 "How to pause or stop animation at this state"
![Screen Shot 2021-03-16 at 3 05 18 PM](https://user-images.githubusercontent.com/58694622/111313449-0942e880-8669-11eb-9f1e-9621d3977b1a.png)
## What kind of issue is this?

 - [ ] UI Bug. Please provide a Screenshot/Video/GIF of what's the problem. If you need help to record a video you can follow [this guide](https://developer.android.com/studio/command-line/adb.html#screenrecord)

 - [ ] Funct

[2021-03-16 14:50] cortinico commented on #154
Can you be more clear?

[2021-05-21 09:27] MohamedHashim opened #156 "SlideToActView app:slider icon doesn't accept databinding"
## What kind of issue is this?

 - [ ] This is a functional bug :
I tried to use databinding in app:slider_icon but it shows this message

If a binding adapter provides the setter, check that the adapter is annotated correctly and that the parameter type matches.

## Details

* Library Version : 0.9.0.
* Example Code :

[2021-05-21 13:34] cortinico commented on #156
Thanks for the report

That's indeed true. The setter for `slider_icon` is of type `Int` and not `Drawable`:

https://github.com/cortinico/slidetoact/blob/0e2ca7da2e115140747afe457bf78f65a6bb689d/slidetoact/src/main/java/com/ncorti/slidetoact/SlideToActView.kt#L151-L163

I'm unsure what would be the best approach to offer better support for Databinding here. Perhaps we need another setter of type

[2021-05-21 16:14] MohamedHashim commented on #156
Thank you for your response, I'll try to look into this if I have some free time.

[2021-05-29 12:40] mj8894 opened #157 "Control final tick animation and stick to slide end state"
## What kind of issue is this?

 - [x] Feature Request. Is it possible to disable the final tick icon animation and retain the slider and the ending position till I want to show tick or reset.

[2021-05-31 10:08] cortinico commented on #157
This will be supported with #139

[2021-06-01 07:25] mj8894 commented on #157
Hi Thanks,

Found it

[2021-06-01 07:25] #157 closed

[2021-07-11 02:09] sarathsvs opened #161 "SlideToActView.OnSlideCompleteListener -> onSlideComplete is not getting called"
![slideissue](https://user-images.githubusercontent.com/29010457/125180716-f907d800-e21a-11eb-8df8-69f82f688adc.gif)

my xml
[code]

my callback method
[code]

[2021-07-13 17:21] cortinico commented on #161
I can't find anything wrong with your code.
There is a sample in the repository that is really similar:
https://github.com/cortinico/slidetoact/blob/0e2ca7da2e115140747afe457bf78f65a6bb689d/example/src/main/java/com/ncorti/slidetoact/example/SampleActivity.java#L143-L148
And it works fine so far.

Have you locked the slider by any chance?
From the screenshot the behavior looks really similar to ht

[2021-08-14 11:49] Dhananjaypathak27 opened #162 "how to make button to default state (unSlided after onslide complete)"
## What kind of issue is this?

I want to know how to make a button to default side state (unslided) on slide complete as in my code I have to call API for slide complete and move to a new page but the user can come back to the previous page where he is unable to slide the button as it is already slid.

[2021-08-15 10:43] cortinico commented on #162
Have you tried to use the `resetSlider()` function?

[2021-08-22 05:52] neverlieme opened #163 "complete_icon animation doest work"
When sliding to end and slider collapse, default check mark won't be shown and when I set a custom vector animation for compelete_icon property it will be shown but not animated

[2021-08-22 14:45] smiesnyrobert opened #164 "completeSlider"
When completeSlider() function is called from eg. **onCreateView in fragmen** animation works bad.

Just draws endIcon stretched. Then when manually swipe button its working, or when calling completeSlider() from onClick other button its working too.

    public View onCreateView(LayoutInflater inflater, ViewGroup container,
                             Bundle savedInstanceState) {
        View vi

[2021-08-23 23:38] cortinico commented on #163
Which version of the library are you using?
Can you please provide a reproducer?

[2021-08-23 23:42] cortinico commented on #164
Is it something that is happening ONLY when you call `completeSlider()` in the `onCreateView`?
Also why do you need to do so? Have you tried doing it from `onViewCreated` instead?

[2021-08-24 06:18] smiesnyrobert commented on #164
Yes i tried onCreateView, onViewCreated, onCreate, onBindViewHolder.
I just need recyclerview with list of items. Every item has SlideToActView and some of them must be in complete state and some of them in "initial/reset" state.

Maybe some function like setState(COMPLETE/INITIAL) will be perfect.

[2021-08-24 07:41] neverlieme commented on #163
I've imported this to my gradle :
implementation "com.ncorti:slidetoact:0.9.0"
And I'm running app in a Huawei P Smart 2017
I'm using starting example you provided without anything else in an empty project and a lot more, non of them work
My target API is 30

[2021-08-30 19:06] cortinico commented on #163
Are you able to test on different devices and/or on a emulator?
If so, can you please tell me if you're experiencing the same issue on all the devices?

[2021-08-30 19:15] cortinico commented on #164
Yup I see your point. Would you be able to setup a reproducer (like a sample app with the RecyclerView and the sliders)? That will help my investigate and fix this issue faster 🙏

[2021-09-26 19:31] theabhinavgupta commented on #85
I think the setOnConpleteListener is not working with Kotlin Users. Can you confirm?

[2021-09-27 11:05] cortinico commented on #85
This issue is 2 years old. Please open another issue and describe your problem with mode details.

[2021-12-09 16:50] IshaanKr opened #166 "InProgress State?"
Scenario explained:

User slides the slide to the right
Now the slider turns into a progress dialog
Slider shrinks and changes icon to progress icon
If operation succeed, icon changes to tick
If operation fails, icon changes to cross

[2021-12-15 19:51] cortinico commented on #166
Closing as this duplicates #116

[2021-12-15 19:51] #166 closed

[2022-01-09 07:58] Sanjay026 commented on #161
Hello,
 slide.setOnSlideCompleteListener(new SlideToActView.OnSlideCompleteListener() {
     @Override
     public void onSlideComplete(@NonNull SlideToActView view) {
         log.append("\n" + getTime() + " onSlideComplete");
     }
 });
this method wont call when the slider is locked.
Please let me know to achieve call this method when slider is locked

[2022-01-09 23:47] Sanjay026 opened #167 "SlideOnCompleteListener not called when slider is locked."
Method slider.setOnSliderCompleteListener() not called when the slider is locked.
Which method should be called when slider reached to the right most side ?

[2022-01-10 12:03] cortinico commented on #167
Duplicates #161

[2022-01-10 12:03] #167 closed

[2022-01-10 12:58] Sanjay026 commented on #167
@cortinico That is Duplicate but you have not shared the proper answer of that Please give the proper answer because slideOnCompleteListener wont call when the slider is locked.

[2022-01-10 14:18] cortinico commented on #161
That's currently not possible. The current behavior is to don't fire an event if the slider is locked. Can you explain why you would need such event, maybe with some examples?

[2022-01-21 07:42] Mahir101 commented on #163
slider_icon is not working in version 0.9.0

[2022-01-22 12:50] Mahir101 opened #168 "app:slider_icon doesn't work, the custom icon is not being loaded"
Suppose this xml code,
<com.ncorti.slidetoact.SlideToActView
            android:id="@+id/slider"
            android:layout_width="match_parent"
            android:layout_height="wrap_content"
            app:slider_locked="true"
            app:slider_icon="@drawable/icon_24_24"
            app:text="Slide Right" />

The custom slider icon is not working.

[2022-01-25 09:39] nataliialapshyna-dna commented on #164
@cortinico  Please take a look at PR with the possible solution for this issue.

[2022-01-28 00:48] cortinico commented on #168
Please send a PR and provide a reproducer 👍

[2022-03-24 13:46] simonklejnstrup opened #172 "Use gradient as outer_color?"
I can only manage to set the outer_color to a color from the colors.xml file.

Is there any workaround so I can use a gradient as outer_color.

Thanks!

[2022-04-24 19:31] mujahid-iitr opened #173 "How can I disable SlideToActView until I want."
I want to disable slide to unlock feature until my UI filed has proper validation.
For example, I have a mobile field and SlideToActView on my screen , until user enter mobile number,  I want to disable SlideToActView.
After user entered the mobile number, I want to make it enable.

[2022-04-25 08:47] cortinico commented on #173
You can used the `slider_locked` attribute:
https://github.com/cortinico/slidetoact#slider_locked

[code]

[2022-04-25 08:47] #173 closed

[2022-05-13 18:54] renovate[bot] opened #177 "Dependency Dashboard"
This issue provides visibility into Renovate updates and their statuses. [Learn more](https://docs.renovatebot.com/key-concepts/dashboard/)

## Rate Limited

These updates are currently rate limited. Click on a checkbox below to force their creation now.

 - [ ] Update dependency androidx.appcompat:appcompat to v1.4.1
 - [ ] Update dependency androidx.test.espresso:espresso-core to v3.4.0
 - [ ] U

[2022-06-03 10:16] cortinico commented on #172
That's not really possible as of today. `outer_color` is just a color. We should extend this to be a `outer_drawable` or so

[2022-06-03 10:36] #52 closed

[2022-06-03 10:36] #164 closed

[2022-07-21 02:11] ttpho commented on #172
@simonklejnstrup I think you can set `outer_color` is `transparent` and set `android:background` of `SlideToActView` by
`gradient`

![Screen Shot 2022-07-21 at 09 09 12](https://user-images.githubusercontent.com/3994863/180114469-68751e75-cc29-4853-a7e4-6e057944f4ce.png)

with `gradient` (main_header_selector.xml)

[code]

with layout
[code]

[2022-07-25 05:47] Gmadhan opened #194 "when slider view is called it crash"
valueFrom(0.0) must be smaller than valueTo(-1.0) in latest version on android 12

<com.ncorti.slidetoact.SlideToActView
              android:id="@+id/btnSlideToConfirm"
              android:layout_width="match_parent"
              android:layout_height="wrap_content"
              android:layout_below="@+id/vehicalLayout"
              android:layout_marginStart="@dimen/_15sdp"
              a

[2022-07-25 10:42] #194 closed

[2022-08-14 18:35] anonym24 opened #199 "Can I implement such slide using this library?"
![image](https://user-images.githubusercontent.com/8851301/184550371-c3e351d2-0587-4915-961f-20e312498311.png)

so basically it's white handle with shadow (on the right) on white background

[2022-08-14 18:44] HelgeApps commented on #199
so basically it's white handle with shadow (on the right) on white background

[2022-08-15 11:55] cortinico commented on #199
Mostly yes,

The shadow on the right will be the hardest thing to achieve though. This library adds some shadow but not as prominent as in this screenshot

[2022-08-15 11:55] #199 closed

[2022-08-15 12:27] anonym24 commented on #199
@cortinico thanks for reply.
Yeah. I tried

![image](https://user-images.githubusercontent.com/8851301/184634627-5b0a3416-bd39-48a7-bb87-719f9626c751.png)

Shadow is not that important. I changed inner background.

Two more things:

- text is always in the middle of the outer, would be great it to be with offset from button
- button (outer) aspect size is 1:1 only, would be great to have an abilit

[2022-08-15 17:04] cortinico commented on #199
Yup those two are not possible at the moment

[2022-08-22 12:33] #152 closed

[2022-09-01 11:28] daniel-gk8 opened #202 "No animation when slider complete"
## What kind of issue is this?

Is there a way to not have the animation (shrink to circle) when the slider is complete and keep it the same size?
Thanks

[2022-09-01 14:33] cortinico commented on #202
Sorry I don't understand your question. Coudl you clarify (whith an image, maybe)?

[2022-09-01 15:14] daniel-gk8 commented on #202
![image](https://user-images.githubusercontent.com/106020409/187949867-3f81ffdc-c24f-459a-9add-e43f769a6fa2.png)

The slider turns into a circle at the end with a checkmark. I would like it to stay as a slider and not do that

[2022-09-04 10:00] #202 closed

[2022-09-04 10:01] daniel-gk8 commented on #202
I found how to do it:
` app:animate_completion="false"`

[2022-09-11 06:57] iraunit opened #204 "onSlideComplete issue"
when calling onSlideComplete it should do some task but it is not.

code:-
stopAlarmButton.onSlideCompleteListener?.onSlideComplete(SlideToActView(this,))
![image](https://user-images.githubusercontent.com/82479754/189515987-2ba658dd-09a0-49ed-bde6-b3f86138018c.png)
![image](https://user-images.githubusercontent.com/82479754/189516009-0a51cd72-f086-416d-84d6-8f7aa2fb6e07.png)

How to use this  to

[2022-09-11 09:58] cortinico commented on #204
You're calling this wrong. You can find an example on how to call this here:
https://github.com/cortinico/slidetoact/blob/aaccbde3e4aacc00827689aefdda0daf50a6d1a7/example/src/main/java/com/ncorti/slidetoact/example/SampleActivity.java#L146-L151

[2022-09-11 09:58] #204 closed

[2022-09-12 07:18] gechdell opened #205 "attribute state_complete not found"
Hello, I am trying to implement the slide in my app, but when I want to customize the final icon, as the documentation indicates, it sends me the error attribute state_complete not found

[2022-09-12 22:01] cortinico commented on #205
Closing as this is now available in version 0.10.0

[2022-09-12 22:01] #205 closed

[2022-09-17 07:44] Karanahir opened #209 "Unable to use OnCompleteListener in Kotlin"
Hello,
        Can someone please help me with how I can use onCompleteListener in Kotlin?

Thanks.

[2022-09-17 07:48] Karanahir commented on #209
Found It.
For anyone still facing this issue.

binding.start.onSlideCompleteListener=object : SlideToActView.OnSlideCompleteListener{
            override fun onSlideComplete(view: SlideToActView) {
                binding.start.resetSlider();
            }
        }

[2022-09-17 07:48] #209 closed

[2022-10-18 18:13] kumzi opened #213 "Is there a loading state for this button? Any workarounds?"
I need to use this on a task, I'll be performing a web call and I want to animate the drawable within the button (like loading) and then once I receive the response after the webcall, I need to change the icon and color of the button. How that could be achieved using this API?
Do this have a button have a state? Can this be achieved by any other ways ?
Thanks

[2022-10-19 13:08] rsuman132 opened #214 "How to slide progrmatically?"
How to progrmatically slide this slidetoact button

[2022-10-19 17:24] cortinico commented on #214
It's described in the readme here:
https://github.com/cortinico/slidetoact#state_complete

[2022-10-19 17:24] #214 closed

[2022-10-19 17:25] #154 closed

[2022-10-19 17:26] cortinico commented on #213
Closing as this is a duplicate of https://github.com/cortinico/slidetoact/issues/116

[2022-10-19 17:26] #213 closed

[2022-10-20 04:09] rsuman132 opened #216 "Is there any way to programatically slide this slidetoact slider button?"
Is there any way to programatically slide this slidetoact slider button without user interaction

[2022-10-20 17:24] cortinico commented on #216
I've already answered you here: https://github.com/cortinico/slidetoact/issues/214
It's written in the README:

With full slide animation:

[code]

Without slide animation:

[code]

[2022-10-20 17:24] #216 closed

[2022-10-25 02:25] sykim-ivy opened #217 "how to set text align to be show center (excluding the slider_icon area)"
## What kind of issue is this?

## What kind of issue is this?

The text is centered relative to the track area(including the slider_icon).
But it is not visible because it is centrally located(in my view).
I want to text be centered in the track area excluding the slider_icon area.
It asks if there is no attribute to set this. help.

## Details
![area_margin_3](https://user-images.githubuserconte

[2022-10-25 12:53] fabitb opened #218 "Possibility to fill slider while dragging"
Is there already a way to have the area from the slider fill in color when I'm already over it? So that I do not only draw a circle from left to right but build up a bar?

If that doesn't exist yet, I'm happy to provide input for a new feature!

I tried to visualize my idea with my best photoshop skills!

![elevation_1](https://user-images.githubusercontent.com/17316121/197777891-53e71170-eeb0-4d7

[2022-10-28 13:48] cortinico commented on #218
This doesn't exist yet and it's something we could potentially implement 👍

[2022-10-28 13:49] cortinico commented on #217
Nope there is no way to do so at the moment.

[2022-11-15 22:52] iridemoshood commented on #145
Its also happening on my end. I have attached a video for your reference.

https://user-images.githubusercontent.com/98904764/202041661-9674d819-0b3e-4c86-ab1a-a3f7569a1312.mov

[2022-11-18 14:50] cortinico commented on #145
Thanks for sharing this @iridemoshood
What would be the expected behavior as it looks fine to me 🤔

[2022-11-21 10:55] anonym24 opened #223 "0.10.0 version changed the look of my button"
Before I had `implementation 'com.ncorti:slidetoact:0.9.0'` and the button looked like this

![image](https://user-images.githubusercontent.com/8851301/203032787-904661d4-5ead-4005-8d53-db44ee5ac061.png)

I upgraded to `'com.ncorti:slidetoact:0.10.0'` and now it looks like this

![image](https://user-images.githubusercontent.com/8851301/203032831-eb8ab88a-a7b9-4162-b405-bbbe658d625e.png)

What has

[2022-11-22 22:52] iridemoshood commented on #145
@cortinico Was able to resolve it from my end.
Thanks

[2022-11-23 11:50] #145 closed